.container{
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  background-color: #ccc;
}

.row{
  display: flex;
}

.row:nth-child(even) .brick:first-child, .row:nth-child(even) .brick:last-child{
  width: 70px;
}

.brick{
  width: 150px;
  height: 50px;
  background-color: #bd5858;
  border-radius: 5px;
  margin: 2px;
}
